{% extends 'base.html' %}

{% block title %} Create a Review {% endblock %} -->
{% block head %}
<link rel="stylesheet" href="/static/css/search.css">
{% endblock %}

{% block body %}
<div class="bgsearch"></div>
<h4 class="display-5 mt-3">Search for a Building</h4>
<form action="/address_search" method='POST'>
  <div class="form-row">  
    <div class="form-group col-md-2">
  <label for="street_number">Enter Street Number:</label>
    <input type="text" class="form-control" id="street_number" name="street_number" placeholder="Number">
    </div>
    <br>
  <div class="form-row">
    <div class="form-group col-md-4">
  <label for="street_name">Enter Street Name (do not include apostrophes: O'Farrell should be Ofarrell):</label>
    <input type="text" class="form-control" id="street_name" name="street_name" placeholder="Street Name">
    </div>
    <br>
    <div class="form-group col-md-2">
    <label for="street_suffix">Enter Street Suffix:</label>
    <select id="street_suffix" class="form-control" name="street_suffix">
    <option selected>Choose</option>
    <option value="Av">Av</option>
    <option value="St">St</option>
    <option value="Wy">Wy</option>
    <option value="Tr">Tr</option>
    <option value="Bl">Bl</option>
    <option value="Pk">Pk</option>
    <option value="Dr">Dr</option>
    </select>
    </div>
    <p>
    <div class="form-group col-md-2">
    <label for="zip_code">Enter Zip Code:</label>
    <input type="text" class="form-control" id="zip_code" name ="zip_code" placeholder="Zip code">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br>
<br>
Or, you can 
<a href="/buildings">view a list of all buildings</a>
<br>
<br>
<footer>
  Photo credit:<a href="https://unsplash.com/@laughayette?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Marten Newhall</a> on <a href="https://unsplash.com/s/photos/searching?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
</footer>
{% endblock %} 