{% extends 'base.html' %}

{% block title %} Create a Review {% endblock %} -->
<!-- create review form -->
{% block body %}
<h1>Search for a Building</h1>
<form action="/address_search" method='POST'>
    <label>Enter Address Details</label>
    <p>
    Street number:
    <input type="text" name ="street_number">
    </p>
    Street name:
    <input type="text" name="street_name">
    <br>
    (do not enter apostrophes - O'Farrell should be Ofarrell)
    <p>
    Street suffix:
    <select name="street_suffix">
    <option value="Av">Av</option>
    <option value="St">St</option>
    <option value="Wy">Wy</option>
    <option value="Tr">Tr</option>
    <option value="Bl">Bl</option>
    <option value="Pk">Pk</option>
    <option value="Dr">Dr</option>
    </select>
    </p>
    <p>
    Zip code:
    <input type="text" name ="zip_code">
    </p>
    <input type="submit">
</form>
<br>
Or, you can 
<a href="/buildings">view a list of all buildings</a>
    <!-- <br> -->
    <!-- check to see if building is in database, if not create new building -->
    <!-- for sprint 2: check Google Maps for building (instead of database) -->
<!-- <form action="/review/building_id" method="POST"> 
    <label>Enter your review text here:</label>
      </p>
      <p>
      <textarea name ="review_text"></textarea>
      </p>
      <p>
        Landlord's name (optional): <br>
        <input type="text" name="landlord_name">
      </p>
      <input type="submit"> 
</form> -->

{% endblock %} 