{% extends 'base.html' %}
{% block title %}All Buildings{% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/css/all_buildings.css">
{% endblock %}
{% block body %} 
<div class="bg_allbuildings"></div>
  <h4>All Buildings By Address:</h4>
<ul>
{% for building in buildings %}
  <li> 
      <a href="/buildings/{{ building.building_id }}">
      {{ building.street_number}} {{ building.street_name }} 
      {{ building.street_suffix }}
      {{ building.zip_code}}
    </a>
  </li>
{% endfor %}
</ul>
<footer>
  Photo credit:<a href="https://unsplash.com/@mischievous_penguins?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Casey Horner</a> on <a href="https://unsplash.com/s/photos/birds-eye-san-francisco?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
</footer>
{% endblock body %}