{% extends 'base.html' %}
{% block title %}All Buildings{% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/css/all_buildings.css">
{% endblock %}
{% block body %} 
<div class="bgpattern"></div>
  <hi>All Buildings</hi>
<ul>
{% for building in buildings %}
  <!-- <li>{{ building }}</li> -->
  <li> 
      <a href="/buildings/{{ building.building_id }}">Building address:</a>
      {{ building.street_number}} {{ building.street_name }} 
      {{ building.street_suffix }}
      {{ building.zip_code}}
  </li>
{% endfor %}
</ul>

{% endblock body %}