<!DOCTYPE html>
<html>
  <head>
      <title>{% block title %} title on the base.html {% endblock %}</title>
      <!-- css style sheet link goes here-->
      <script src="http://code.jquery.com/jquery.js"></script>
      <!-- script below loads the Google Maps & Geocoding API -->
      <!-- <script
        async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBNOVjw-EmMpGalziFFBebrwcjCnu1Lr_M&callback=CALLBACK">
      </script> -->
      
  </head>
  <body>
      <h1> Tenant Helper (located in base.html) </h1>
      {% block content %} Block content in base.html {% endblock %}
  </body>
</html>