<!-- Add building details -->
<!-- and links to complaints and violations and reviews -->
{% extends 'base.html' %}

{% block title %} {% endblock %}

{% block head %}
  <script src="/static/js/maps.js"></script> 
  <!-- Note: the below  API is restricted to my IP address so if that gets
  changed by my internet service provider, or if I move, I'll
  need to update it here: https://console.cloud.google.com/apis/credentials?project=crucial-gasket-323421&supportedpurview=project 
  Otherwise my map-related code won't work.-->
  <!-- CALLBACK: name of a function to execute after Maps API finishes loading-->
  <script
  async defer 
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBNOVjw-EmMpGalziFFBebrwcjCnu1Lr_M&callback=initMap">
  </script>

<!-- below is the script for a Google street view static image. I keep getting error 403 and it won't show up -->
  <!-- <img src="https://maps.googleapis.com/maps/api/streetview?size=400x400&location=37.7133717,-122.421337&fov=80&heading=70&pitch=0&key=AIzaSyBNOVjw-EmMpGalziFFBebrwcjCnu1Lr_M"> -->

{% endblock %}

{% block body %}
<h4 class="display-6" id="address">{{ building.street_number }} {{ building.street_name }}
    {{ building.street_suffix }}, San Francisco, CA  {{ building.zip_code }}
</h4>

  
  <main>
    <section class="map">
      <div id="map" style="position: relative;height: 300px;"></div>
  </section>
  </main>
<!-- <h3>
    <p>Details:</p>
</h3> -->

<h4 class="display-6">Complaints:</h4>
  {% if building.complaints %}
    {% for complaint in building.complaints %}
      <p>Complaint number: {{ complaint.complaint_number }} <br>
      Complaint description: {{ complaint.complaint_description }} <br>
      Date filed: {{ complaint.date_filed.strftime('%Y-%m-%d') }} <br>
      </p>
    {% endfor %}
  {% else %} 
    None
  {% endif %}

  <h4 class="display-6">Violations:</h4>
  {% if building.violations %}
    {% for violation in building.violations %}
    <p>Complaint number: {{ violation.complaint_number }} <br>
    Violation category: {{ violation.nov_category_description }} <br>
    Violation item: {{ violation.item }} <br>
    Violation description: {{ violation.nov_item_description }} <br>
    Date filed: {{ violation.date_filed.strftime('%Y-%m-%d') }} <br>
  </p>
    {% endfor %}
  {% else %}
    None
  {% endif %}

<div id="reviews"><h4 class="display-6">Reviews:</h4>
    {% if building.reviews %}
    {% for review in building.reviews %}
    <p>
      Date posted: {{ review.review_date.strftime('%Y-%m-%d') }} <br>
      Review: {{ review.review_text }} <br>
      {% if review.landlord_name %}
        Landlord name: {{ review.landlord_name }}
        {% else %}
        Landlord name: None
      {% endif %}
    </p>
    {% endfor %}
    {% else %}
      <p id="none">None</p>
    {% endif %} </div>
 <br>
<!-- create a review on a specific building's page -->
  <h4>Create a review for this building:</h4>
  <form data-route="/review/{{ building.building_id }}" id="review"> 
      <p>
      <!-- <label>Enter your review text here:</label> -->
      </p>
      <p>
      <textarea id="review_text" class="form-control is-invalid" id="review_text" name ="review_text" placeholder="Enter your review text here." required></textarea>
      </p>
      
      <div class="invalid-feedback">
        Please enter review text.
      </div>
      <div class="form-group col">
        <label for="landlord_name">Landlord's name (optional):</label>
      <input type="text" class="form-control" id="landlord_name" name="landlord_name" placeholder="Enter landlord or management company here">
      </div>
      
        <button type='submit' class="btn btn-primary">Submit</button>
      </form> 
      <br>
<!-- data: ignore it in the rendering but leave it there so we can get it for another reason -->
<script src="/static/js/review.js"></script>
<!-- script is being imported here so that the element "review" already exists in the DOM (document object model)-->
{% endblock %}
