<!-- Add building details -->
<!-- and links to complaints and violations and reviews -->
{% extends 'base.html' %}

{% block title %} {% endblock %}

{% block body %}
<h1>{{ building.street_number }} {{ building.street_name }}
    {{ building.street_suffix }}, {{ building.zip_code }}
    <p>Details:</p>
</h1>

  {% for complaint in building.complaints %}
    <p>{{ building.complaints }}</p>
  {% endfor %}

  {% for violation in building.violations %}
    <p>{{ building.violations }}</p>
  {% endfor %}

  <!-- {% for review in building.reviews %} -->
    <p>{{ building.reviews }}</p>
  <!-- {% endfor %} -->

{% endblock %}