<!-- Add building details -->
<!-- and links to complaints and violations and reviews -->
{% extends 'base.html' %}

{% block title %} {% endblock %}

{% block head %}
  <script src="/static/js/maps.js"></script> 
  <!-- Note: the below  API is restricted to my IP address so if that gets
  changed by my internet service provider, or if I move, I'll
  need to update it here: https://console.cloud.google.com/apis/credentials?project=crucial-gasket-323421&supportedpurview=project 
  Otherwise my map-related code won't work.-->
  <!-- CALLBACK: name of a function to execute after Maps API finishes loading-->
  <script
  async defer 
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBNOVjw-EmMpGalziFFBebrwcjCnu1Lr_M&callback=initMap">
  </script>
{% endblock %}

{% block body %}
<h1 id="address">{{ building.street_number }} {{ building.street_name }}
    {{ building.street_suffix }}, San Francisco, CA,  {{ building.zip_code }}
</h1>

<h1>  
  <main>
    <section class="map">
      <div id="map" style="position: relative;height: 200px;"></div>
  </section>
  </main>

    <p>Details:</p>
</h1>

<h2>Complaints:</h2>
  {% if building.complaints %}
    {% for complaint in building.complaints %}
      <p>Complaint number: {{ complaint.complaint_number }} <br>
      Complaint description: {{ complaint.complaint_description }} <br>
      Date filed: {{ complaint.date_filed }} <br>
      </p>
    {% endfor %}
  {% else %} 
    None
  {% endif %}

<h2>Violations:</h2>
  {% if building.violations %}
    {% for violation in building.violations %}
    <p>Complaint number: {{ violation.complaint_number }} <br>
    Violation category: {{ violation.nov_category_description }} <br>
    Violation item: {{ violation.item }} <br>
    Violation description: {{ violation.nov_item_description }} <br>
    Date filed: {{ violation.date_filed }} <br>
  </p>
    {% endfor %}
  {% else %}
    None
  {% endif %}

<h2>Reviews:</h2>
    {% if building.reviews %}
    {% for review in building.reviews %}
    <p>
      Review date: {{ review.review_date }} <br>
      Review: {{ review.review_text }} <br>
      Rating: {{ review.rating }} <br>
      Landlord name: {{ review.landlord_name }} <br>
    </p>
    {% endfor %}
    {% else %}
       None
    {% endif %}
 <br>
<!-- create a review on a specific building's page -->
  <h3>Create a Review</h3>
  <form action="/review/{{ building.building_id }}" method="POST"> 
      <p>
      <label>Enter your review text here:</label>
      </p>
      <p>
      <textarea name ="review_text"></textarea>
      </p>
      <p>
        Landlord's name (optional):
        <input type="text" name="landlord_name">
      </p>
      <input type="submit"> 
    </form> <br>


{% endblock %}