<!-- {% extends 'base.html' %}

{% block title %} Create a Review {% endblock %} -->
<!-- create review form -->
<!-- {% block body %}
<h1>Create a Review</h1>

<form>
<! for sprint 2: -->
    <!-- <label>Enter Address</label>
    <p>
    Street number:
    <input type="text" name ="street number">
</p>
    Street name:
    <input type="text" name="street name">
    <select name="street suffix">
    <option value="Av">Av</option>
    <option value="St">St</option>
    <option value="Wy">Wy</option>
    <option value="Tr">Tr</option>
    <option value="Bl">Bl</option>
    <option value="Pk">Pk</option>
    <option value="Dr">Dr</option>
    </select> -->

    <!-- <label>Enter your review text here:</label>
    <textarea name ="review-text"></textarea>
</form>

{% endblock %} --> 