{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block body %}
<div class="bghouses"></div>
<!-- header & paragraphs go here -->
<div class="row justify-content-center">

  <div class="col col-lg text-center">
    <h1 class="display-1">Tenant Helper</h1>
  </div>

</div>

<div class="row">
  <div class="col-4 offset-8">
    <!-- below is a location dot icon -->
    <img src="/static/img/baseline_location_on_black_24dp2.png">San Francisco</img>
  </div>
</div>

<div class="row">
  <h4 class="mt-4">Welcome to Tenant Helper!</h4>

  <div class="col-5 mt-2">
    <p class="bg-light p-9 bg-body rounded" style="--bs-bg-opacity: .75;">When you're looking for a place to live, it's hard to know
      what's going on "under the hood" of a particular apartment.
      This website sources historical data about complaints and violations 
      from the San Francisco Department of Building Inspection,  
      and displays reviews from tenants who have shared their experience 
      of what it was like to live at an address, as a renter. 
      <br>
      To view building data, leave a review, or read other reviews, 
        you'll first need to go to the page of a specific address.
      You can either do that by <a href="/search">searching</a>
      for a particular address, or by choosing a building from
      <a href="/buildings">a list by of buildings by address</a>.
    </p>


    <h5 class="mt-5">What would you like to do?</h5>
    <ul>
      <li><a href="/search">Search for a building</a></li>
      <li><a href="/buildings">View all buildings</a></li>
      <li><a href="/users">View all users</a></li>
      <li><a href="/map">View SF map</a></li>
    </ul>
  </div>


  <div class="col-4 offset-3">
    <h5 class="mt-5">Create an Account</h5>
    <form action='/users' method='POST'>
      <div class="form-group col">
        <label for="reg-email">Email address</label>
        <input type="email" class="form-control" id="reg-email" name="email" aria-describedby="emailHelp"
          placeholder="Enter email">
      </div>

      <div class="form-group col">
        <label for="reg-password">Password</label>
        <input type="password" class="form-control" id="reg-password" name="password" placeholder="Create password">
      </div>

      <button type='submit' class="btn btn-primary">Submit</button>

    </form>

    <h5 class="mt-3">Log In</h5>
    <form action='/login' method='POST'>
      <div class="form-group col">
        <label for="login-email">Email address</label>
        <input type="email" class="form-control" id="login-email" name="email" aria-describedby="emailHelp"
          placeholder="Enter email">
      </div>

      <div class="form-group col">
        <label for="login-password">Password</label>
        <input type="password" class="form-control" id="login-password" name="password" placeholder="Enter password">
      </div>

      <button type='submit' class="btn btn-primary">Submit</button>
    </form>
    <footer class="mt-4">
      Photo credit:<a
        href="https://unsplash.com/@jhanks787?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Joshua
        Hanks</a> on <a
        href="https://unsplash.com/s/photos/san-francisco?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
    </footer>
  </div>
</div>
</div>
{% endblock %}