{% extends 'base.html' %}

    {% block title %}{% endblock %}

{% block body %}
<!-- header & paragraphs go here -->
    <h1>Tenant Helper</h1>

    <h2>Navigation</h2>
    <ul>
      <li><a href="/buildings">View all buildings</a></li>
      <li><a href="/users">View all users</a></li>
      <li><a href="/map">View SF map</a></li>
    </ul>

    <h3>Create an Account</h3>
    <form action ='/users' method='POST'>
      <div class="form-group">
        <label for="reg-email">Email address</label>
        <input type="email" class="form-control" id="reg-email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
      </div>

      <div class="form-group">
        <label for="reg-password">Password</label>
    <input type="password" class="form-control" id="reg-password" name="password" placeholder="Create password">
      </div>

        <button type='submit' class="btn btn-primary">Submit</button>
  
    </form>

    <h3>Log In</h3>
    <form action='/login' method='POST'>
        <div class="form-group">
        <label for="login-email">Email address</label>
        <input type="email" class="form-control" id="login-email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
      </div>

      <div class="form-group">
        <label for="login-password">Password</label>
    <input type="password" class="form-control" id="login-password" name="password" placeholder="Enter password">
      </div>

        <button type='submit' class="btn btn-primary">Submit</button>
    </form>
{% endblock %}