{% extends 'base.html' %}

{% block head %}
<!-- stylesheet css link goes here -->
  <script src="/static/js/maps.js"></script>
    <!-- Note: the below  API is restricted to my IP address so if that gets
    changed by my internet service provider, or if I move, I'll
    need to update it here: https://console.cloud.google.com/apis/credentials?project=crucial-gasket-323421&supportedpurview=project 
    Otherwise my map-related code won't work.-->
    <!-- CALLBACK: name of a function to execute after Maps API finishes loading-->
    <script
    async defer 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBNOVjw-EmMpGalziFFBebrwcjCnu1Lr_M&callback=initMap">
    </script>
{% endblock %}

{% block body %}

<main>
  <section class="map">
    <div id="map" style="position: relative;height: 500px;"></div>
    <!-- add the above style code to the .css file -->
  </section>
</main>

{% endblock %}